<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        {% for user in all_users %}
            {% if user.id == session['user_id'] %}
            <h1>Welcome {{ user.first_name }} {{ user.last_name }}</h1>
            {% endif %}
        {% endfor %}
        
        
        <a href="/new">Add BallBox</a>
        <br>
        <br>
        <form action="/logout">
            <button type="submit" class="btn btn-danger">Logout</a>
        </form>

    </div>
    <br>
    <div>
        <h2>Boxes:</h2>
        {% for user in all_users %}
            {% for ballbox in user.user_ballboxes %}
                <p><a href="/show/{{ ballbox.id }}">{{ ballbox.title }}</a> added by {{ user.first_name}} {{ user.last_name }}</p>
            {% endfor %}
        {% endfor %}
    </div>
</body>
</html>